<div class="container sub">

    <h2>Go ahead <%= params[:username] %>...</h2>
     
    <% if request.post? %> 
        <div id="confirm-post">
        <p>Your post:</p>
        <p><%= @message %>
        
        </div>
     <% end %>

        <form method="POST" action="/blog">
        <label for="message">What would you like to say:</label>
        <textarea name="message"></textarea>

        <input class="send" type="submit" value="Submit post">
        </form>
    

     <% Post.all.reverse.each do |post| %> 

    
        <div class="post-content">
        <h3><%= "#{post.content}" %></h3>
        <p>
         <%= "posted by: #{User.find(post.user_id).username} on #{post.date_posted}" %>
        </p>
        </div>

     <% end %> 
<section class="col col-3-3 js-top">&#8679;</section>
</div>