        <h2>Make your changes:</h2>
        <form method="POST" action="/editform">
        
        <textarea name="message" id="message"><%= params[:content] %></textarea>
        <input type="hidden" name="eid" value='<%= "#{params[:editid]}" %> '>
        <input class="send" type="submit" value="Submit post">
        </form>