
    <header class="divided-header">
        <h1>Bookface</h1>
        <br>
        <h3>Join the community: <a href="/register">Sign up</a>
            <br>
            Members <a href="/signin">Log In here</a>
            <br>
            <a href="/blog">or just look at the posts</a>
        </h3>
    </header>

<div class="container">

   

</div>
