
    <header class="divided-header">
            <h1>Bridges, Inc</h1>
            
            <div class="header-text">
                <p>
                    Make the investment. Be the envy. Buy a bridge. 
                        
                </p>
                
            </div>

    </header>

<div class="container">
<h3>
    This is just lorem ipsum text, or more like hipster ipsum, or personal ipsum.
    No need to read this, really. You probably have more important things to do, don't you?
</h3>
<h3>
You must be really, really bored. This is a quite meaningless. I can't believe you got this far.
You must be one of those people who reads user agreements, before you checked the box.
</h3>
<h3>
Alright since you did get this far, please take a look around, guck until to you fall victim to our subliminal messages and can no longer resist the temptation to buy something you don't need on impulse.
</h3>


    <p>Go to the <a href='/contact'>contact us</a> page

   

</div>
