
    <header class="divided-header">
        <h1>Micro-blog</h1>
        <br>
        <h3>Join the community: <a href="/register">Sign up</a>
        
        <br><br>

        Members <a href="/signin">Log In here</a>
        </h3>
    </header>

<div class="container">

   

</div>
