

<form method="POST" action="/create">
    <label for="fname">First Name</label>
    <input name="fname" id="fname">
    <label for="confirm">Confirm password</label>
    <input type="password" name="confirm" id="confirm">
    
</form>