<div class="container sub">



    <h2>Member Sign In </h2>
     
        <form method="POST" action="/signin">
            <label for="username">Username (or email):</label>
            <input id="username" name="username" />
            <label for="password">Password:</label>
            <input id="password" name="password" />
            <input class="send" type="submit" value="Send">
        </form>
  

</div>