<div class="container sub">

<% if !current_user %>

    <h2>Member Sign In </h2>
     
        <form method="POST" action="/signin">
            <label for="username">Username (or email):</label>
            <input id="username" name="username" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
            <input class="send" type="submit" value="Start microblogging">
        </form>
<% else %>  

    <p>logged in</p>
    <form method="POST" action="/signin">
        <input class="send" type="submit" value="Press here to log out">
    </form>



<% end %>

</div>